@import url(http://fonts.googleapis.com/css?family=Open+Sans&subset=cyrillic,latin);

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
    }

body {
	font: 16px Arial, Tahoma sans-serif;
	line-height: 1.4em;
    }

ul {
	list-style: none;
	}

img {
    width: auto;
    max-width: 100%;
    height: auto !important; 
    }

.wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0 1em;
}

.wrapper:after,
.row:after {
      content: "";
      display: table;
      clear: both; 
      }

[class*='column-'] {
    float: left;
    padding: 0.5em 0.5em;
    width: 100%;
    min-height: 1px;
    }

@media only screen and (min-width: 48em) {
 
    .wrapper {
        width: 100%;
        max-width: 80em; 
        }

    .m-hidden {
    	display: none;
    }
         
    .column-m-1 {
        width: 8.33333%; 
        }
         
    .column-m-2 {
        width: 16.66667%; 
        }
         
    .column-m-3 {
        width: 25%; 
        }
         
    .column-m-4 {
        width: 33.33333%; 
        }
         
    .column-m-5 {
        width: 41.66667%; 
        }
         
    .column-m-6 {
        width: 50%; 
        }
         
    .column-m-7 {
        width: 58.33333%; 
        }
         
    .column-m-8 {
        width: 66.66667%; 
        }
         
    .column-m-9 {
        width: 75%; 
        }
         
    .column-m-10 {
        width: 83.33333%; 
        }
         
    .column-m-11 {
        width: 91.66667%; 
        }
         
    .column-m-12 {
        width: 100%; 
        } 
     
}

@media only screen and (max-width: 48em) {
 
    .wrapper {
        width: 100%;
        min-width: 37em;
        max-width: 48em; 
        }
	
	.s-hidden{
		display: none;
	}
         
    .column-s-1 {
        width: 8.33333%; 
        }
         
    .column-s-2 {
        width: 16.66667%; 
        }
         
    .column-s-3 {
        width: 25%; 
        }
         
    .column-s-4 {
        width: 33.33333%; 
        }
         
    .column-s-5 {
        width: 41.66667%; 
        }
         
    .column-s-6 {
        width: 50%; 
        }
         
    .column-s-7 {
        width: 58.33333%; 
        }
         
    .column-s-8 {
        width: 66.66667%; 
        }
         
    .column-s-9 {
        width: 75%; 
        }
         
    .column-s-10 {
        width: 83.33333%; 
        }
         
    .column-s-11 {
        width: 91.66667%; 
        }
         
    .column-s-12 {
        width: 100%; 
        } 
     
}

body {
	background-color: #2F2F2F;
	color:  #BEBEBE;
	font-family: 'Open Sans', sans-serif;
}

p {
	font-family: 'Lucida Grande', Arial, sans-serif;
}

a {
	color: #84BCDE;
}

body a:hover {
	color: #fb292d;
}

h1, h2, h3 {
	/*font-family: 'Open Sans', sans-serif;*/
	color : white;
	text-shadow: 0 1px 1px #000;
}

/*elements*/

.thin-ul {
	border-bottom: 0.1em solid black;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
}

.btn {
	padding: 0.1em 0.5em;
	background: rgba(255, 255, 255, 0.05);
	display: inline;
	border: 1px solid;
	border-color: rgba(0, 0, 0, 0.5);
	text-decoration: none;
	text-align: center;
}

.btn a {
	text-decoration: none;
}

.inner-row {
	background-color: rgba(0, 0, 0, 0.05);
	border-width: 0.1em 0.1em 0.1em 0.1em;
	border-style: solid;
	border-color: rgba(255, 255, 255, 0.03);
	box-shadow: inset 0 1px 0.3em 0 rgba(0, 0, 0, 0.7);
}

.content-block {
	margin-bottom: 1em;
	padding: 1em 1em;
	background-color: rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 1px 0.5em 0 rgba(0, 0, 0, 0.8);
}

.modal-block {
	position: relative;
	padding: 0.5em 1em;
	background: #2F2F2F;
	border-radius: 0.5em;
	/*border: 0.1em solid rgba(255, 255, 255, 0.03); */
	box-shadow: inset 0 1px 1em 0 rgba(0, 0, 0, 0.8);
}


/*content*/

.header {
	padding-top: 1em;
	border-bottom: 0.2em solid black;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3);
}

.header a {
	color: white;
	text-decoration: none;
	font-size: 1.3em;
}

.menu-block {
	border-bottom: 0.1em solid black;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
}

.menu li {
	float: left;
	padding-right: 1em;
	position: relative;
}

.sub-menu  {
	position: absolute;
	display:none;
}

.menu li:hover > .sub-menu {
	display: block;
}

.logo {
	float: right;
}


.login-block {
	float: right;
}

.login-block  a {
	font-size: 1em;
}

.login-block span {
	margin: 0 0.2em 0 0.2em;
}

.login {
	display:inline;
}

.login input {
	max-width: 6em;
}

.admin-menu {
	float: right;
}

.admin-menu li {
	float: right;
	padding-left: 1em;
}

.admin-menu a {
	font-size: 1em;
	color: #7DB2D2;
	border-bottom:  1px dashed; 
}

.user-menu {
	float: right;
}

.user-menu li {
	float: right;
	padding-left: 1em;
}

.user-menu a {
	font-size: 1em;
	color: #7DB2D2;
	border-bottom:  1px dashed; 
}

.banner-block {
	padding: 0.5em 0;
	background-color: rgba(0, 0, 0, 0.3);
	height: 10em;
	border-bottom: 0.1em solid black;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
}

/*admin area*/

.manage-subjects {
	margin-top: 1em;
	text-align: center;
}

.manage-articles {
	text-align: center;
}

.art-add-new {
	margin: 1em;
}

.manage-users {
	margin-top: 1em;
	text-align: center;

}



/*modal windows*/

.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 1;
	opacity:0;
	pointer-events: none;
}

.modal:target {
	opacity: 1;
	transition: opacity 100ms ease-in;
	pointer-events: auto;
}

.register {
	width: 20em;
	margin: 5em auto;
	/*line-height: 1.6em;*/
}

.register input {
	width: 100%;
}

.register .btn {
	float: right;
}

.modal-close {
	position: absolute;
	top: -0.5em;
	right: -0.5em;
	width: 1.5em;
	border-radius: 100%;
	background: #2F2F2F;
	box-shadow: 0 1px 0.2em 0 rgba(0, 0, 0, 0.5);
	text-align: center;
	font-size: 1em;
	font-weight: bold;
	color: #BEBEBE;
	text-decoration: none;
}

.modal-close:hover {
	color: #fb292d;
	box-shadow: 0 1px 0.2em 0 rgba(0, 0, 0, 0.1);
}

/*modal - admin*/

.article-edit {
	width: 36em;
	margin: 5em auto;
}

.article-edit label {
	padding: 0.5em;
}

.article-edit .btn {
	float: right;

}

.article-edit input, textarea {
	width: 100%;
	max-width: 100%;
}

.article-edit textarea{
	min-height: 10em;
}

.user-edit {
	width: 15em;
	margin: 5em auto;
}

.user-edit .btn {
	float: right;
}

.settings {
	width: 20em;
	margin: 5em auto;
}

.settings input, textarea {
	width: 100%;
	max-width: 100%;
}

.settings textarea {
	min-height: 4em;
	resize:none;
}

.settings .btn {
	float: right;
}

/*front content*/
.content {
	margin: 1em 0;
	padding: 0.5em;
	background-color: rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 0.5em 0 rgba(0, 0, 0, 0.8);
}

.article-block {
	
}

.admin-art-ctrl {
	/*margin-top: -1em;*/
	float:right;
}

.admin-art-ctrl a {
	/*color: white;*/
	text-decoration: none;
	border-bottom: 1px dashed;
}

.art-text {
	padding: 0.5em 0;
}

.art-title-desc {
	border-bottom: 0.1em solid black;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
	padding: 0.5em 0;
}

.comments-link {
	float: right;
}

.related-block {
	margin-bottom: 1em;
	padding: 1em 1em;
	/*height: 30em;*/
	background-color: rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 1px 0.5em 0 rgba(0, 0, 0, 0.8);
}

.related-block ul {
	padding-left: 1.3em;
	list-style-type: decimal;
	font-size: 0.8em;
}

.related-block li a {
	text-decoration: none;
	color: #BEBEBE;
}

.related-block li a:hover {
	color: #84BCDE ;
}

.related-block li span {
	color: #84BCDE;
}

/*article*/

.comments-block	{
	margin-top: 1em;
	border-top: 0.1em solid black;
	box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.1);
}

.comments-title {
	padding: 0.5em;
}

.comment-unit {
	background-color: rgba(0, 0, 0, 0.05);
	border-width: 0.1em 0.1em 0.1em 0.1em;
	border-style: solid;
	border-color: rgba(255, 255, 255, 0.03);
	box-shadow: inset 0 1px 0.3em 0 rgba(0, 0, 0, 0.7);
	padding: 1em;
}

/*.comment-unit:nth-child(even) {*/
	/*background-color: rgba(255, 255, 255, 0.02);*/
	/*border-width: 0 30px 0 0;*/
	/*background-image: linear-gradient(to right, rgba(255, 255, 255, 0.016), rgba(255, 255, 255, 0.016) 25%, rgba(0, 0, 0, 0));*/
/*}*/

/*.comment-unit:last-child {*/
	/*border-width: 0.1em 0.1em 0.1em 0.1em;*/
	/*border-style: solid;*/
	/*border-color: rgba(255, 255, 255, 0.03);*/
	/*background-color: rgba(255, 255, 255, 0.02);*/
	/*border-width: 0 30px 0 0;*/
/*}*/

.comment-header span:nth-child(1) {
	font-weight: bold;
}
.comment-header span:nth-child(2) {
	font-style: oblique;
	font-size: small;
	opacity: 0.5;
}

.comment-ctrl {
	float:right;
}

.comment-ctrl a {
	text-decoration: none;
	border-bottom: 1px dashed;
	font-size : small;
}

.comment-text {
	margin-top: 0.5em;
}

