@import url(http://fonts.googleapis.com/css?family=Open+Sans:500&subset=latin,cyrillic);

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
    }

@font-face {
	font-family: icons;
	src: url(../fonts/icomoon.woff);
}


body {
	font-size: 16px;
	line-height: 1.4em;
	background-color: #2F2F2F;
	color:  #BEBEBE;
	font-family: 'Open Sans', Arial, sans-serif;
	text-shadow: 0 0 2px black;
    }

h1, h2 {
	color : rgb(166, 166, 166);
	text-shadow: 0 1px 1px #000;
}

h3 {
	color: #6A6A6A;
	text-shadow: 0 1px 3px #000;
}

a {
	color: #75A5C2;
	text-decoration: none;
}

body a:hover {
	color: #fb292d;
}

ul {
	list-style: none;
	}

img {
    width: auto;
    max-width: 100%;
    height: auto !important; 
    }

label {
 	color: rgb(207, 205, 205);
 	font-size: large;
 }

.wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0 1em;
    background-color: rgba(0,0,0,0.1);
	box-shadow: 0 1px 0.5em 0 rgba(0,0,0, 1);
}

.wrapper:after,
.row:after {
      content: "";
      display: table;
      clear: both; 
      }

[class*='column-'] {
    float: left;
    padding: 0.5em 0.5em;
    width: 100%;
    min-height: 1px;
    }

@media only screen and (min-width: 48em) {
 
    .wrapper {
        width: 100%;
        max-width: 80em; 
        }

    .m-hidden {
    	display: none;
    }
         
    .column-m-1 {
        width: 8.33333%; 
        }
         
    .column-m-2 {
        width: 16.66667%; 
        }
         
    .column-m-3 {
        width: 25%; 
        }
         
    .column-m-4 {
        width: 33.33333%; 
        }
         
    .column-m-5 {
        width: 41.66667%; 
        }
         
    .column-m-6 {
        width: 50%; 
        }
         
    .column-m-7 {
        width: 58.33333%; 
        }
         
    .column-m-8 {
        width: 66.66667%; 
        }
         
    .column-m-9 {
        width: 75%; 
        }
         
    .column-m-10 {
        width: 83.33333%; 
        }
         
    .column-m-11 {
        width: 91.66667%; 
        }
         
    .column-m-12 {
        width: 100%; 
        } 
     
}

@media only screen and (max-width: 48em) {
 
    .wrapper {
        width: 100%;
        min-width: 37em;
        max-width: 48em; 
        }
	
	.s-hidden{
		display: none;
	}
         
    .column-s-1 {
        width: 8.33333%; 
        }
         
    .column-s-2 {
        width: 16.66667%; 
        }
         
    .column-s-3 {
        width: 25%; 
        }
         
    .column-s-4 {
        width: 33.33333%; 
        }
         
    .column-s-5 {
        width: 41.66667%; 
        }
         
    .column-s-6 {
        width: 50%; 
        }
         
    .column-s-7 {
        width: 58.33333%; 
        }
         
    .column-s-8 {
        width: 66.66667%; 
        }
         
    .column-s-9 {
        width: 75%; 
        }
         
    .column-s-10 {
        width: 83.33333%; 
        }
         
    .column-s-11 {
        width: 91.66667%; 
        }
         
    .column-s-12 {
        width: 100%; 
        } 
     
}

/*elements*/

.icon-home {
	float:left;
	padding-right: 1em;
	cursor: pointer;
}

.icon-home:hover {
	color: #fb292d;
}

.icon-span {
	font-family: icons;
	text-align: center;
}

.spinner-holder {
	font-size: 2em;
	margin: 1em 1em ;
	float:right;
}
.icon-spinner {
	animation: spin 1s infinite linear;
	-webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

.loader {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,1);
	z-index: 2;
	opacity:1;
	pointer-events: auto;
}    


.thin-ul {
	border-bottom: 0.1em solid black;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
}

.btn {
	width: 100%;
	padding: 0.1em 0.5em;
	background: rgba(255, 255, 255, 0.05);
	/*display: inline;*/
	border: 1px solid;
	border-color: rgba(0, 0, 0, 0.5);
	text-decoration: none;
	text-align: center;
	box-shadow: 0 1px 0.1em rgba(0,0,0,0.5);
}

.btn a {
	text-decoration: none;
	display:inline-block;
	width:100%;
	color: #75A5C2 !important;
}

.btn:hover {
	box-shadow: inset 0 1px 0.5em 0 rgba(0, 0, 0, 0.2);
}

.btn:hover a {
	text-shadow: 0 -1px 2px black;
}

.inner-row {
	background-color: rgba(0, 0, 0, 0.05);
	border-width: 0.1em 0.1em 0.1em 0.1em;
	border-style: solid;
	border-color: rgba(255, 255, 255, 0.03);
	box-shadow: inset 0 1px 0.3em 0 rgba(0, 0, 0, 0.7);
}

.content-block {
	margin-bottom: 1em;
	padding: 1em 1em;
	background-color: rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 1px 0.5em 0 rgba(0, 0, 0, 0.8);
}

.modal-block {
	position: relative;
	padding: 0.5em 0.5em;
	background: #2F2F2F;
	border-radius: 0.25em;
	box-shadow: inset 0 1px 1em 0 rgba(0, 0, 0, 0.8);
}

.modal-block h2 {
	color: #7E7E7E;
	font-size: 1.75em;
}

.modal-block .content-block {
	margin: 0;
	padding: 0.5em;
}

.input-area {
	background: rgba(0, 0, 0, 0.2);
	color:  #BEBEBE;
	font-family: 'Lucida Grande', sans-serif;
	font-size: 1em;
	outline: none;
	border-color: rgba(255,255,255,0.3);
	padding: 0.25em 0.5em;
	border-width: 1px;
	width: 100%;
	max-width: 100%;
}

.input-label-hor {
	vertical-align: sub;
}

.active {
	color: #fb292d !important;
}


/*content*/

.header {
	padding-top: 1em;
	border-bottom: 0.2em solid black;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3);
}

.header a {
	color: white;
	text-decoration: none;
	font-size: 1.3em;
}

.menu-block {
	border-bottom: 0.1em solid black;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
}

.menu li {
	float: left;
	padding-right: 1em;
	position: relative;
}

.sub-menu  {
	position: absolute;
	display:none;
}

.menu li:hover > .sub-menu {
	display: block;
}

.logo {
	float: right;
}


.login-block {
	float: right;
}

.login-block  a {
	font-size: 1em;
}

.login-block span {
	margin: 0 0.2em 0 0.2em;
}

.login {
	display:inline;
}

.login input {
	max-width: 6em;
}

.admin-menu {
	float: right;
}

.admin-menu li {
	float: right;
	padding-left: 1em;
}

.admin-menu a {
	font-size: 1em;
	color: #7DB2D2;
	border-bottom:  1px dashed; 
}

.user-menu {
	float: right;
}

.user-menu li {
	float: right;
	padding-left: 1em;
}

.user-menu a {
	font-size: 1em;
	color: #7DB2D2;
	border-bottom:  1px dashed; 
}

.banner-block {
	padding: 0.5em 0;
	background-color: rgba(0, 0, 0, 0.3);
	height: 10em;
	border-bottom: 0.1em solid black;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
}

.manage-subjects {
	margin-top: 1em;
	text-align: center;
}

.user-reg-input {
	padding-left: 1em;
}

.art-uncategorized {
	margin-top: 1em;
}
.item-add-new {
	margin: 1em;
}

.item-add-new a {
	border-bottom: 1px dashed;
}

.manage-users {
	margin-top: 1em;

}

.sbj-list-title {
	padding: 0.5em;
	text-align: center;
	color: #BEBEBE;
}

.sbjLayout-placeholder {
	min-height: 2.5em;
}



/*modal windows*/

.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 1;
	opacity:0;
	pointer-events: none;
}

.modal:target {
	opacity: 1;
	transition: opacity 100ms ease-in;
	pointer-events: auto;
}



.login-form {
	width: 20em;
	margin: 5em auto;
}

.login-form label {
	font-size: large;
}

.login-form input {
	width: 100%;
}

.login-form .btn {
	float: right;
}

.modal-close {
	position: absolute;
	top: -0.5em;
	right: -0.5em;
	width: 1.5em;
	border-radius: 100%;
	background: #2F2F2F;
	box-shadow: 0 1px 1em 0 rgba(0, 0, 0, 0.9);
	text-align: center;
	font-size: 1em;
	/*font-size:large;*/
	font-weight: bold;
	color: #BEBEBE;
	text-decoration: none;
}

.modal-close:hover {
	color: #fb292d;
	box-shadow: 0 1px 0.5em 0 rgba(0, 0, 0, 0.4);
}

.user-profile {
	width: 20em;
	margin: 5em auto;
}

/*modal - admin*/

.subject-new {
	width: 20em;
	margin: 5em auto;
}

.subject-new label {
	font-size:larger;
}


.sbj-new-label-container {
	padding-bottom: 0.25em;
}

.subject-new .btn {
	float: right;
}


.article-edit {
	width: 36em;
	margin: 5em auto;
}

.article-edit .btn {
	float: right;

}


.article-edit textarea{
	min-height: 20em;
}

.user-edit {
	width: 15em;
	margin: 5em auto;
}

.user-edit .btn {
	float: right;
}

.settings {
	width: 20em;
	margin: 5em auto;
}

.settings-wipe-btn a {
	display: inline-block;
	width:100%;
}

/*front content*/

.content {
	margin: 1em 0;
	padding: 0.5em;
	background-color: rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 0.5em 0 rgba(0, 0, 0, 0.8);
}

.article-block {
	
}

.admin-art-ctrl {
	float:right;
}

.admin-art-ctrl a {
	text-decoration: none;
	vertical-align: sub;
	border-bottom: 1px dashed;
}

.art-text {
	padding: 0.5em 0;
}

.art-title-desc {
	border-bottom: 0.1em solid black;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
	padding: 0.5em 0;
	font-style:oblique;
	font-size: small;
	color: rgba(175,175,175,0.5);
}
.art-title-desc a {
	color: #7DB2D2;
	font-weight: bold;
}

.comments-link {
	float: right;
}

.related-block {
	margin-bottom: 1em;
	padding: 1em 1em;
	background-color: rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 1px 0.5em 0 rgba(0, 0, 0, 0.8);
}

.related-block ul {
	padding-left: 1.3em;
	list-style-type: decimal;
	font-size: 0.8em;
}

.related-block li a {
	text-decoration: none;
	color: #BEBEBE;
}

.related-block li a:hover {
	color: #fb292d ;
}


/*article*/

.comments-block	{
	margin-top: 1em;
	box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.04);
}

.comments-count {
	padding: 0.5em;
}

.comment-body {
	background-color: rgba(0, 0, 0, 0.05);
	border-width: 0.1em 0.1em 0.1em 0.1em;
	border-style: solid;
	border-color: rgba(255, 255, 255, 0.03);
	box-shadow: inset 0 1px 0.3em 0 rgba(0, 0, 0, 0.7);
	padding: 1em;
	font-size: 1em;
}

.comment-header span:nth-child(1) {
	font-weight: bold;
}
.comment-header span:nth-child(2) {
	font-style: oblique;
	font-size: small;
	opacity: 0.5;
}

.comment-ctrl {
	float:right;
}

.comment-ctrl a {
	text-decoration: none;
	border-bottom: 1px dashed;
	font-size : small;
}

.comment-text {
	margin-top: 0.5em;
}

.comment-post {
	background-color: rgba(0, 0, 0, 0.3);

}

.cmnt-post-body {
	
	margin-top: 1em;
	resize:none;
	min-height: 10em;
}

.comment-post-btn {
	margin-top: 1em;
	float:right;
}
